.enter{
    display: block;
    overflow-x: hidden ;
    animation: inAnimation 0.5s ease-in-out forwards;
}
.exit{
    overflow-x: hidden ;
    display: block;
    animation: outAnimation 0.5s ease-in-out forwards;
}
.dnone{
    display: none;
}

@keyframes inAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes outAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}