.Container{
    min-height: 100vh;
    padding: 5rem 0;
}
.spotLight{
        pointer-events: none;
        position: absolute;
        inset: -1px;
        opacity: 0;
        transition: opacity 300ms;
}